services:
  postgres:
    image: postgres
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  pgweb:
    image: sosedoff/pgweb
    command: pgweb --debug --url=postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable --listen=9000
    ports:
      - "9000:9000"
    depends_on:
      - postgres
  web:
    build:
      context: .
      dockerfile: gui.Dockerfile
    command: python3 -m secdb serve
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - postgres
  updater:
    build:
      context: .
      dockerfile: updater.Dockerfile
    volumes:
      - ./state:/secdb/state
    command: bash updater.sh
    environment:
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGUSER=postgres
      - PGPASSWORD=postgres
    depends_on:
      - postgres
