* {
  font-family: sans-serif;
}

.MuiDataGrid-row {
  cursor: pointer;
}

.code-block {
  background-color: #ddeeff;
  padding: 1em;
  margin: 1em;
  border-radius: 0.3em;
  font-family: monospace;
}

:not(pre) > code {
  background: #dddddd;
  padding: 4px;
  border-radius: 4px;
  font-family: monospace;
}
