* {
}

body {
    font-family: sans-serif;
}

.MuiDataGrid-row {
  cursor: pointer;
}

.code-block {
  padding: 1em;
  margin: 1em;
  border-radius: 0.3em;
  overflow-x: auto;
}

.code-block code.hljs {
  font-family: monospace;
  background-color: #eeeeee;
}

code {
  font-family: monospace;
}

:not(pre) > code {
  padding: 4px;
  border-radius: 4px;
}
